<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>Jazzopedia</title>
 <style>
    #starting_points {
      column-width:           12em;
      column-rule-style:      none;
      list-style:             none;
    }
 </style>
</head>
<body>
 <div class=page>
  <h1>Jazzopedia</h1>
  <p>Search: [to do]</p>
  <ul id="starting_points">
    <li><a href="/pepper-adams/">Pepper Adams</a></li>
    <li><a href="/cannonball-adderley/">Cannonball Adderley</a></li>
    <li><a href="/chet-baker/">Chet Baker</a></li>
    <li><a href="/kenny-barron/">Kenny Barron</a></li>
    <li><a href="/count-basie/">Count Basie</a></li>
    <li><a href="/art-blakey/">Art Blakey</a></li>
    <li><a href="/ray-brown/">Ray Brown</a></li>
    <li><a href="/dave-brubeck/">Dave Brubeck</a></li>
    <li><a href="/kenny-burrell/">Kenny Burrell</a></li>
    <li><a href="/donald-byrd/">Donald Byrd</a></li>
    <li><a href="/ron-carter/">Ron Carter</a></li>
    <li><a href="/paul-chambers/">Paul Chambers</a></li>
    <li><a href="/sonny-clark/">Sonny Clark</a></li>
    <li><a href="/kenny-clarke/">Kenny Clarke</a></li>
    <li><a href="/jimmy-cobb/">Jimmy Cobb</a></li>
    <li><a href="/ornette-coleman/">Ornette Coleman</a></li>
    <li><a href="/john-coltrane/">John Coltrane</a></li>
    <li><a href="/chick-corea/">Chick Corea</a></li>
    <li><a href="/miles-davis/">Miles Davis</a></li>
    <li><a href="/paul-desmond/">Paul Desmond</a></li>
    <li><a href="/eric-dolphy/">Eric Dolphy</a></li>
    <li><a href="/kenny-dorham/">Kenny Dorham</a></li>
    <li><a href="/kenny-drew/">Kenny Drew</a></li>
    <li><a href="/duke-ellington/">Duke Ellington</a></li>
    <li><a href="/bill-evans/">Bill Evans</a></li>
    <li><a href="/art-farmer/">Art Farmer</a></li>
    <li><a href="/tommy-flanagan/">Tommy Flanagan</a></li>
    <li><a href="/jimmy-garrison/">Jimmy Garrison</a></li>
    <li><a href="/stan-getz/">Stan Getz</a></li>
    <li><a href="/dizzy-gillespie/">Dizzy Gillespie</a></li>
    <li><a href="/dexter-gordon/">Dexter Gordon</a></li>
    <li><a href="/johnny-griffin/">Johnny Griffin</a></li>
    <li><a href="/jim-hall/">Jim Hall</a></li>
    <li><a href="/herbie-hancock/">Herbie Hancock</a></li>
    <li><a href="/hampton-hawes/">Hampton Hawes</a></li>
    <li><a href="/roy-haynes/">Roy Haynes</a></li>
    <li><a href="/percy-heath/">Percy Heath</a></li>
    <li><a href="/joe-henderson/">Joe Henderson</a></li>
    <li><a href="/billy-higgins/">Billy Higgins</a></li>
    <li><a href="/johnny-hodges/">Johnny Hodges</a></li>
    <li><a href="/freddie-hubbard/">Freddie Hubbard</a></li>
    <li><a href="/bobby-hutcherson/">Bobby Hutcherson</a></li>
    <li><a href="/milt-jackson/">Milt Jackson</a></li>
    <li><a href="/keith-jarrett/">Keith Jarrett</a></li>
    <li><a href="/j-j-johnson/">J.J. Johnson</a></li>
    <li><a href="/elvin-jones/">Elvin Jones</a></li>
    <li><a href="/hank-jones/">Hank Jones</a></li>
    <li><a href="/philly-joe-jones/">Philly Joe Jones</a></li>
    <li><a href="/sam-jones/">Sam Jones</a></li>
    <li><a href="/wynton-kelly/">Wynton Kelly</a></li>
    <li><a href="/lee-konitz/">Lee Konitz</a></li>
    <li><a href="/john-mclaughlin/">John McLaughlin</a></li>
    <li><a href="/pat-metheny/">Pat Metheny</a></li>
    <li><a href="/charles-mingus/">Charles Mingus</a></li>
    <li><a href="/blue-mitchell/">Blue Mitchell</a></li>
    <li><a href="/hank-mobley/">Hank Mobley</a></li>
    <li><a href="/group/the-modern-jazz-quartet/">The Modern Jazz Quartet</a></li>
    <li><a href="/thelonious-monk/">Thelonious Monk</a></li>
    <li><a href="/lee-morgan/">Lee Morgan</a></li>
    <li><a href="/paul-motian/">Paul Motian</a></li>
    <li><a href="/gerry-mulligan/">Gerry Mulligan</a></li>
    <li><a href="/oliver-nelson/">Oliver Nelson</a></li>
    <li><a href="/charlie-parker/">Charlie Parker</a></li>
    <li><a href="/joe-pass/">Joe Pass</a></li>
    <li><a href="/jaco-pastorius/">Jaco Pastorius</a></li>
    <li><a href="/art-pepper/">Art Pepper</a></li>
    <li><a href="/oscar-peterson/">Oscar Peterson</a></li>
    <li><a href="/bud-powell/">Bud Powell</a></li>
    <li><a href="/max-roach/">Max Roach</a></li>
    <li><a href="/sonny-rollins/">Sonny Rollins</a></li>
    <li><a href="/wayne-shorter/">Wayne Shorter</a></li>
    <li><a href="/horace-silver/">Horace Silver</a></li>
    <li><a href="/sonny-stitt/">Sonny Stitt</a></li>
    <li><a href="/mccoy-tyner/">McCoy Tyner</a></li>
    <li><a href="/ben-webster/">Ben Webster</a></li>
    <li><a href="/lester-young/">Lester Young</a></li>
    <li><a href="/joe-zawinul/">Joe Zawinul</a></li>
   </ul>
 </div>
</body>
</html>
